[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "basad"]
	path = basad
	url = https://github.com/cran/basad
	shallow = true
	registered = true
